<?xml version="1.0" encoding="utf-8" ?>
<tables>
  <parent>
    <name>Director</name>
    <nofields>3</nofields>
    <fields>
      <field>
        <fname>cod_director</fname>
        <type>INT</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
        <inputSource>comboBox1</inputSource>
      </field>
      <field>
        <fname>nume</fname>
        <type>STRING</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
        <inputSource>NONE</inputSource>
      </field>
      <field>
        <fname>data_nastere</fname>
        <type>DATE</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
        <inputSource>NONE</inputSource>
      </field>
    </fields>
  </parent>
  <child>
    <name>Filme</name>
    <nofields>4</nofields>
    <fields>
      <field>
        <fname>cod_film</fname>
        <type>INT</type>
        <isPK>true</isPK>
        <idFK>false</idFK>
        <inputSource>NONE</inputSource>
      </field>
      <field>
        <fname>titlu</fname>
        <type>STRING</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
        <inputSource>textBox2</inputSource>
      </field>
      <field>
        <fname>an_aparitie</fname>
        <type>INT</type>
        <isPK>false</isPK>
        <idFK>false</idFK>
        <inputSource>numericUpDown1</inputSource>
      </field>
      <field>
        <fname>cod_director</fname>
        <type>INT</type>
        <isPK>false</isPK>
        <idFK>true</idFK>
      </field>
    </fields>
  </child>
</tables>
